body {
    background-color: #f5f5f5;
    font-family: Raleway, sans-serif !important;
}

.form-inline {
    padding: 10px;
}

.mode {
    display: flex;
    place-items: baseline;
    padding : 20px !important;
}

.notif {
    padding: 10px;
}

.mode label {
    margin-right: 20px;
}

.mode input {
    margin: 5px;
}

.send {
    margin-top: 10px;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}